body{
    background-image: url(../img/img3.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    border-radius: 5px;
    padding: 10px 4px;
}
.anterior{
    bottom: 0;
    margin-top: 20%;
    margin-left: 8.5%;
    position: absolute;
    overflow: auto;
}
.siguiente{
    bottom: 0;
    margin-top: 20%;
    margin-left: 80%;
    position: absolute;
    overflow: auto;
}
 
 .llamada{
position: relative;
margin-top: -240px;
margin-left: 10%;
width: 60%;
}

.contact{
  margin-top: 5px;
  border-radius: 20px;
 }

.navbar a {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.navbar {
  bottom:0;
  position: absolute;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.foto{
    width: 60%;
    padding: 8% 10px 10px;
}
.foto1{
    width: 30%;
    padding: 8% 10px 10px;
}
.logo{
    margin-left: 3%;
}

.icon{
    font-size: 50px;
    color: #8a0808;
    margin-right: 15px;
}
.ic{
    width:180px;
    height:180px;
    margin: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
}
.ic2{
  width:130px;
  height:130px;
}
h1{ 
    font-size: 240%;
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}
h2{
    font-size: 150%;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
    margin-left: 7%;
}
h3{
    font-size: 190%;
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}
.sel{
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}
select{
    color: #000000;
}


