/* body{
  background-image: url(../img/Fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
} */
body{
  background-color: #DEE1E3;
  background-image: linear-gradient(rgba(0,0,0,.05) 1px,transparent 1px),linear-gradient(90deg,rgba(0,0,0,.05) 1px,transparent 1px),linear-gradient(rgba(0,0,0,.035) 1px,transparent 1px),linear-gradient(90deg,rgba(0,0,0,.035) 1px,transparent 1px);
  background-size: 96px 96px,96px 96px,24px 24px,24px 24px;   
}
a{
    border-radius: 5px;
    padding: 10px 4px;
}
.anterior{
    bottom: 0;
    margin-top: 20%;
    margin-left: 8.5%;
    position: absolute;
    overflow: auto;
}
.siguiente{
    bottom: 0;
    margin-top: 20%;
    margin-left: 80%;
    position: absolute;
    overflow: auto;
}
 
 .llamada{
position: relative;
margin-top: -240px;
margin-left: 10%;
width: 60%;
}

.contact{
  margin-top: 5px;
  border-radius: 20px;
 }
 .depart{
  border-radius: 20px;
  border: 1px solid #041d35;
  opacity: 0.8;
  width: 250px; 
 }
 .contact1{
  border-radius: 20px;
  border: 1px solid #041d35;
  opacity: 0.8;
  width: 250px;
}
.contact2{
  border-radius: 20px;
  border: 1px solid #041d35;
  opacity: 0.8;
  width: 250px;
}

.btnTel{
    border: 1px solid black;
    padding: 10px 17px;
    border-radius: 20px;
    box-shadow: 5px 7px 0px 0px #5c5959b5;
    outline: 0 !important;
    width: 250px;
}

.btnTel:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.navbar a {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.navbar {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #555;
    overflow: auto;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.foto{
    width: 62%;
    padding: 8% 10px 10px;
}
.foto1{
    width: 30%;
    padding: 5% 5%;
    opacity: 0.9;
}
.logo{
    margin-left: 3%;
}

.icon{
    font-size: 50px;
    color: #8a0808;
    margin-right: 15px;
}
.ic{
    width: 50%;
    height: 15%;
    margin-left: 5%;
    margin-right: 6.5%;
    padding: 5%;
    padding-bottom: 0;
    margin-top: 25%;
}
.ic:active, .ic3:active{
  transform: translateY(6px);
}

.ic3{
   width: 50%;
    height: 15%;
    margin-left: 5%;
    margin-right: 6.5%;
    padding: 5%;
    padding-bottom: 0;
    margin-top: 10%;
}
.ic2{
  width:130px;
  height:130px;
}
h1{ 
    font-size: 240%;
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}
h2{
    font-size: 150%;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
    margin-left: 7%;
}
h3{
    font-size: 140%;
    text-align: left;
    margin-left: 5%;
    color: #000000;
    font-family: arial;
    font-weight: bold;
}
.sel{
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}
select{
    color: #000000;
}
table {
        border-collapse: collapse;
        width: 80%;
        margin-left: 10%;
      }

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.listaContactos{
  width: 80%;
  border: 1px solid black;
}
.rojo{
  color:red;
}
.verde{
  color: green;
}
.button_container{
  float: right;
  padding-right: 10%;
}
.add_button{
  border-radius: 20px;
  padding: 2px 6px 5px 6px;
  background-color: white;
  box-shadow: 0 5px #848484;
}
.add_button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.preferencia_class{
  padding-top: 70%;
  padding-left: 35%;
}
/*//////////////////////////////////////////////
index 2
SECCION CLASES NUEVAS EL ANTERIOR DEJO, PORQUE 
NO LE ENTIENDO BIEN, PACR 20/09/2019
//////////////////////////////////////////////*/
.logo_sospy{
  margin-left: 5%;
}
.cverde{
  color: #008100;
}

/*////////////////////////
index 3
//////////////////////////*/
html, body, .contIndexTres{
  width: 100%;
  height: auto; 
}
.img_opacy{
  opacity: 0.1;
  position: absolute;
  right: 12.25%;
  top: 100%;
  width: 80%;
}

.contTitlePref{
  margin-top: 10%;
  position: absolute;
  width: 100%;
  margin-left: 25%;
}

.conPrefDetBomb{
  margin-top: 30%;
  position: absolute;
  width: 80%;
  margin-left: 12%;
}
.cont_item{
  top: 45%;
  position: fixed;
  width: 100%;
  display: grid;
   /* align-items: center; */
  justify-content: center;
  min-height: 30vh;
}
.contIndexTres{
  position: fixed;
    width: 100%;
    height: auto;
}

.contBtnFree{
  position: fixed;
  margin-top: 27%;
  width: 100%;
  display: grid;
   /* align-items: center; */
  justify-content: center;
  ;
}
.contListTwo{
  margin-top: 13%;
  position: fixed;
    width: 100%;
    height: auto;
    /* margin-left: 15%; */
    width: 100%;
    display: grid;
     /* align-items: center; */
    justify-content: center;
    min-height: 30vh;
}
<<<<<<< HEAD
.oculto{
  display: none;
}
=======
.titleChangePref{
  margin-top: 50%;
  text-align: center;
}
>>>>>>> f47691a8d48eb703755ebad50fed7b1e40aa6d57
