body{
    background-image: url(../img/img3.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    border-radius: 5px;
    padding: 10px 4px;
}
.anterior{
    bottom: 0;
    margin-top: 20%;
    margin-left: 8.5%;
    position: absolute;
    overflow: auto;
}
.siguiente{
    bottom: 0;
    margin-top: 20%;
    margin-left: 80%;
    position: absolute;
    overflow: auto;
}
 
 .llamada{
position: relative;
margin-top: -240px;
margin-left: 10%;
width: 60%;
}

.contact{
  margin-top: 5px;
  border-radius: 20px;
 }
 .contact1{
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 20px;
}
.contact2{
  margin-top: 0%;
  margin-left: 15%;
  border-radius: 20px;
}

.btnTel{
  border: 1px solid black;
  padding: 12px 14.5px;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 0px #888888;
}

.linea{
  margin-left: 21%;
}
.navbar a {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.navbar {
  bottom:0;
  position: absolute;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.foto{
    width: 62%;
    padding: 8% 10px 10px;
}
.foto1{
    width: 30%;
    padding: 5% 5%;
}
.logo{
    margin-left: 3%;
}

.icon{
    font-size: 50px;
    color: #8a0808;
    margin-right: 15px;
}
.ic{
    width: 50%;
    height: 15%;
    margin-left: 5%;
    margin-right: 6.5%;
    padding: 5%;
    padding-bottom: 0;
    margin-top: 25%;
}
.ic2{
  width:130px;
  height:130px;
}
h1{ 
    font-size: 240%;
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}
h2{
    font-size: 150%;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
    margin-left: 7%;
}
h3{
    font-size: 140%;
    text-align: left;
    margin-left: 5%;
    color: #000000;
    font-family: arial;
    font-weight: bold;
}
.sel{
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}
select{
    color: #000000;
}
table {
        border-collapse: collapse;
        width: 80%;
        margin-left: 10%;
      }

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.listaContactos{
  width: 80%;
  border: 1px solid black;
}
.rojo{
  color:red;
}
.verde{
  color: green;
}
.button_container{
  float: right;
  padding-right: 10%;
}
.add_button{
  border-radius: 20px;
  padding: 2px 6px 5px 6px;
  background-color: white;
  box-shadow: 0 5px #999;
}
.add_button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.preferencia_class{
  padding-top: 70%;
  padding-left: 35%;
}
/*//////////////////////////////////////////////
SECCION CLASES NUEVAS EL ANTERIOR DEJO, PORQUE 
NO LE ENTIENDO BIEN, PACR 20/09/2019
//////////////////////////////////////////////*/
.logo_sospy{
  margin-left: 5%;
}

